*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(206, 206, 206);
}

form{
  width: 100%;
}


.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 300px;
  margin: 70px auto 0;
  /* margin-top: 70px; */
 
}

.wrapper{
  display: flex;
  gap: 8px;
  justify-content: center;
  
}

/* inputs */

.input{
 padding: 0px 10px; 
 border-style: hidden;
 border-radius: 5px;
 width: 100%;
 
}

.input:focus{
  outline: solid  rgb(57, 187, 46);
  outline-offset: 3px;
}

.icon{
  padding: 2px;
}

/* buttons */


.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: rgb(67, 34, 145);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-update{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: rgb(67, 34, 145);
  color: #f1f1f1ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delete{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: rgb(145, 34, 38);
  color: #f1f1f1ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.btn-delete:focus,.btn-delete:hover {
  background-color: rgb(169, 41, 45);
  outline: solid  rgb(145, 34, 38);
  outline-offset: 1px;      
}


.btn:hover,.btn-update:hover,.btn-update:focus{
  background-color: rgb(84, 43, 179);
  outline: solid  rgb(67, 34, 145);
  outline-offset: 1px;  
}

.up-del-btn{
  position: relative;
  left: 95px;
}

/* task list */

.tasks{
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
  min-width: 100%;
  
}


.task{
  list-style: none;
  background-color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-group{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: small;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  accent-color: rgb(1, 131, 7);

}

input[type="checkbox"]:checked + label{
  text-decoration: line-through;

}


.task-group label{
  font-weight: 500;
  cursor: pointer;
}

.edit-form{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.edit-form .wrapper{
  padding: 3rem;
  background-color: #f1f1f1ff;
  width: 500px;
  border-radius: 5px;
}

.edit-form div{
  margin-top: 200px;
}